@@font-face {
  font-family: "Merriweather";
  src:url("https://fonts.googleapis.com/css?family=Merriweather")
}
@@font-face {
  font-family: "Raleway";
  src:url("https://fonts.googleapis.com/css?family=Raleway");
}

@@font-face {
  font-family: "Oswald";
  src:url("https://fonts.googleapis.com/css?family=Oswald");
}

body{
  text-align: center;
  background-color: #B2AA93;
  width: 95%;
  margin: 0 auto;
}

h1{
  color: #302F2B;
  font-family: "Merriweather", serif;
  font-size: 48px;
}

p{
  color: #302F2B;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

ul{
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

nav{
  list-style-type: none;
  text-align: center;
}

nav a:link, nav a:visited{
  display: block;
  color: #302F2B;
  background-color: #8CA9A1;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  }

  nav li{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #FDFFFE;
    text-decoration: none;
  }

  nav a:hover, a:active{
    background-color: #C8AFCC;
  }

  img{
    border: 0;
  }
