@@font-face {
  font-family: "Merriweather";
  src:url("https://fonts.googleapis.com/css?family=Merriweather")
}
@@font-face {
  font-family: "Raleway";
  src:url("https://fonts.googleapis.com/css?family=Raleway");
}

@@font-face {
  font-family: "Oswald";
  src:url("https://fonts.googleapis.com/css?family=Oswald");
}


body{
  background-color: #FFFFFF;
    display: flex;
}

#container{
  background-color: #Fff3DA;
  width: 90%;
  margin: 0 auto;
  padding: 10px 25px;
}

h1{
  color: #302F2B;
  font-family: "Merriweather", serif;
  font-size: 48px;
  text-align: center;
}

p{
  color: #302F2B;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

  nav li{
    list-style-type: none;
    text-align: center;
    width: 100%
    padding: 20px;
    background-color: #86CCAE;
    margin: 0 auto;
    border: 2px solid #AC70AB;
    align-self: stretch;
  }

  nav ul{
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }

  nav a:link, nav a:visited{
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    }

  nav a:hover, a:active{
    background-color: #7EB29C;
  }

  img{
    border: 0;
  }

  .link{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #302F2B;
  }
