@font-face {
  font-family: "Merriweather";
  src:url("https://fonts.googleapis.com/css?family=Merriweather")
}
@font-face {
  font-family: "Raleway";
  src:url("https://fonts.googleapis.com/css?family=Raleway");
}

@font-face {
  font-family: "Oswald";
  src:url("https://fonts.googleapis.com/css?family=Oswald");
}


body{
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
}

#container{
  background-color: #Fff3DA;
  width: 95%;
  margin: 0 auto;
  padding: 10px 25px;
}


h1{
  color: #302F2B;
  font-family: "Merriweather", serif;
  font-size: 48px;
  text-align: center;
}

.article{
  color: #302F2B;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

  nav li{
    list-style-type: none;
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: #86CCAE;
    margin: 0 auto;
    border-bottom: 2px solid;
    border-color: #AC70AB;
  }


  .nav{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-bottom: 50px;
  }

  nav a:link, nav a:visited{
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    }

  nav a:hover, a:active{
    background-color: #7EB29C;
  }

  img{
    border: 0;
    flex-wrap: wrap;
    max-width: 300px;
  }

  .link{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #302F2B;
  }

  @media screen and (max-width: 600px){
    .nav{
      flex-flow: row wrap;
      justify-content: center;
      flex-shrink: 2;
    }
    #container{
      width:95%;
    }
  }

  @media screen and (min-width: 800px) {
    .nav{
      height: 40px;
      flex-flow: row wrap;
      justify-content: center;
      flex-shrink: 2;
    }
    #container{
      width: 90%;
      display: grid;
      grid-template-columns: 200px 1fr 1fr;
      grid-gap:60px;
      grid-template-areas:
      "a d c"
      "b d c"
      ". e c"
    }

    .header{
      grid-area: a;
    }

    .nav{
      grid-area:b;
    }

    .article{
      grid-area:c;
    }

    .image{
      grid-area: d;
    }
    .link{
      grid-area: e;
    }
  }

  @media screen and (min-width: 1000px){
    #container{
      width: 90%;
      display: grid;
      grid-template-columns: 200px 1fr 1fr 1fr;
      grid-gap:60px;
      grid-template-areas:
      "a a c c"
      ". . c c"
      ". . . ."
    }

    .header{
      grid-area: a;
    }

    .nav{
      grid-area:b;
    }

    .article{
      grid-area:c;
      max-width: 2fr;
    }

    .image{
      grid-area: d;
    }
    .link{
      grid-area: e;
    }
  }
